html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f8f8f8;
    line-height: 2;
}

p {
    color: rgb(7, 7, 7);
    font-size: 16px;
    line-height: 2;
}

.boton {
    background-color: rgb(168, 170, 170);
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    color: #020202;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
}


@media (min-width:768px) {
    .boton {
        font-size: 18px;
        padding: 10px 20px;
    }
}


.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.contenedor .centrar-texto{
    margin-top: 50px;
    color: rgb(20, 19, 19);
    text-align: right;
}


.contacto p {
    font-size: 1.1rem;
    color: rgb(248, 240, 240);
    margin: 1rem 0 1.5rem 0;
    line-height: 1.5;
}

legend {
    font-size: 1.6rem;
    color: rgb(22, 21, 21);
}

label {
    color: rgb(26, 24, 24);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 10px;
}

input:not([type="submit"], [type="button"]),
textarea,
select {
    padding: 0.8rem;
    display: block;
    width: 100%;
    background-color: #b3b2b2;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1rem;
}

input[type="submit"],
[type="button"] {
    display: flex;
    float: right;
}

